* {
    margin: 0;
    padding: 0;
    font-family: poppins;

}
p{
    color: #797979;
}

nav {
    padding:20px 50px;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu ul{
    list-style-type: none;
    display: flex;
    align-items: center;
}
.menu a{
    text-decoration: none;
    color: #797979;
    margin-left: 30px;
}

.menu #link1{
    font-family: Poppins SemiBold ;
    color: #4E42D9;
}
.contact{
    margin-left: 30px;
    padding: 8px 25px;
    background-color: #4E42D9;
    color: white;
    border: none;
    border-radius: 5px;
}

.container{
    padding-top: 30px;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}
.text-part{
    width: 45%;
}

.text-part h1{
    font-weight: 800;
    color: #534F7D;
    font-size: 2rem;
    line-height: 2.5rem;
}
.text-part p{
    padding-top: 15px;
    font-size: 1rem;
    line-height: 1.2rem;
}
.text-part h1{
    padding-top: 20px;
}
.image-part{
    width: 50%;
    margin-left: 30px;
}
.image-part img{
    width: 80%;
}

.hero-buttons{
    padding-top: 40px;
}

.hero-btn1{
    padding: 10px 30px;
    color: white;
    background-color: #4E42D9;
    border: none;
    border-radius: 5px;
    
}
.hero-btn2{
    padding: 10px 25px;
    color: #4E42D9;
    background-color: #CAC8E3;
    border: none;
    font-weight: 500;
    border-radius: 5px;
    margin-left: 20px;
}
.wwd{
    text-align: center;
    width: 80%;
    margin: auto;
    padding: 100px 0;
}
.h1s{
    color: #3B3950;
    font-weight: 700;
    padding: 30px;
}
.wwd h2{
    font-size: 20px;
    color: #3B3950;
    font-weight: 500;
}
.wwd p{
    font-size: 12px;
    line-height: 1.2rem;
    margin: 10px;
}
.features
{
    /* margin-top: 30px; */
    display: flex;
    justify-content: space-around;
}
.element{
    width: 25%;
}
.blog-section{
    text-align: center;
    width:80%;
    margin: auto;
}
.message{
    width: 60%;
    margin: auto;
}
.newss{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}
.news{
    width: 30%;
    margin: 5px;
    text-align: left;
}
.newss img{
    width: 100%;
    aspect-ratio: 1;
}
.news h4{
    margin:5px 0px;
    color: #3B3950;
}
.news p{
    font-size: 12px;
}

.footer-container{
    padding: 30px 0;
    width: 100%;
    background-color: #292838;
    display: flex;
    align-items: top;
}
.awwwsome-div{
    margin-left: 10%;
    width: 25%;
}
.awwwsome-div h1{
    color: white;
    font-size: 1.5rem;
}
.awwwsome-div p{
    margin-top: 10px;
    font-size: 12px;
    color: white;

}
.extra-div{
    color: white;
    width: 50%;
    display: flex;
    margin-left: 20%;
    justify-content: space-between;
}
.extra-div a{
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
}
.topic{
    width: 33%;
}
.extra-div li{
    font-size: 12px;
    list-style-type: none;
    padding: 5px 0;
}
.topic h4{
    padding-bottom: 10px;
    font-weight: 500;
}

.copyright{
    text-align: center;
    background-color: #23222F;
    padding: 8px;
    font-size: 12px;
}
.view-all{
    padding: 10px 25px;
    text-align: center;
    border: none;
    background-color: #4E42D9;
    color: white;
    border-radius: 2px;
}
.btnn{
    text-align: center;
    padding: 50px;
}